<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Address List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Street</th>
        <th>Building number</th>
    </tr>
    <tr th:each="address : ${addresses}">
        <td th:text="${address.id}">123</td>
        <td th:text="${address.street}"> Spring in Action</td>
        <td th:text="${address.buildingNumber}">Wrox</td>
    </tr>
</table>

</body>
</html>